* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: BricolageGrotesque, sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue";
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Navigation Bar */
.navbar {
    background-color: #eceff1;
    color: #333;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 70px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_contenedor_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 64px;
}

.nav_img_logo {
    width: 64px;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.nav_logo_nombre {
    width: 75%;
}

.navbar-container {
    max-width: 1200px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
}

.logo:visited {
    color: inherit;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
    padding: 0em 0.5em;
    border-radius: 1em;
}
.nav-links li:hover {
    background-color: #fff;
    transition: color 0.3s ease;
}

.nav-item {
    display: block;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #0077cc;
}
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .navbar-container {
        display: none;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fffd;
    }
    .hamburger {
        display: block;
    }
}

.section {
    opacity: 0;
    padding: 1em 2em;
    transform: translateY(50px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.subtitulos {
    text-decoration: underline;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Carousel */
.carousel-section {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    position: relative;
}

.carrusel-contenedor {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.carrusel-item {
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.carrusel-item img {
    width: 100%;
    height: 100%;
}

/* Card Styles */

.card-section {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 20px;
}

@media (max-width: 1199.98px) {
    .card-grid {
        grid-template-columns: repeat(2, minmax(220px, 1fr));
    }
}

@media (max-width: 575.98px) {
    .card-grid {
        grid-template-columns: repeat(1, minmax(220px, 1fr));
    }
    .footer-container {
        width: 90%;
    }
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
}

.card-content {
    padding: 1rem;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-description {
    font-size: 0.9rem;
}

.price {
    font-weight: bold;
    color: #0077cc;
}
#carousel,
#planes,
#exclusivos,
#servicios,
#contacto {
    scroll-margin-top: 74px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 0.5rem;
    text-align: center;
}

.footer-container {
    width: 50%;
    margin: 0 auto;
}

.contact-info {
    margin-bottom: 1rem;
}

.contact-info p {
    margin-bottom: 0.5rem;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #fff;
    border-radius: 4px;
}

.form-group > textarea {
    height: 200px;
    margin: auto;
    font-weight: 200;
    letter-spacing: 0.05em;
    min-height: 64px;
    color: #333;
    resize: none;
}
.btn {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.btn-atras,
.btn-siguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
}
.btn-atras {
    left: 10px;
}
.btn-siguiente {
    right: 10px;
}

.carousel-legend {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3337;
    color: #fff;
    padding: 10px;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

/* Estilos existentes para el menú hamburguesa */
.nav__burger {
    display: none;
    cursor: pointer;
}

@media (width < 768px) {
    .nav__burger {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #eceff1;
        z-index: 1000;
        padding: 1rem;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    /* Opcional: estilo para cuando el menú está abierto */
    .nav__burger.open svg path:nth-child(3) {
        transform: rotate(45deg) translate(5px, -7px);
    }
    .nav__burger.open svg path:nth-child(1) {
        opacity: 0;
    }

    .nav__burger.open svg path:nth-child(2) {
        transform: rotate(-45deg) translate(-13px, 0px);
    }

    .nav__burger svg path {
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .footer-container {
        width: 70%;
    }
}
.copyright {
    background-color: #181818;

    color: #f4f4f4;
    width: 100%;
    padding: 0.5rem 0rem;
    text-align: center;
}

.borde-principal {
    background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
    );
    padding: 4px;
    border-radius: 8px;

}

.borde-secundario{
    background: linear-gradient(
        60deg,
        transparent,
        #181818,
        transparent
    );
    padding: 1px;
    border-radius: 8px;
}
/* // X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

*/
