@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: BricolageGrotesque, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Navigation Bar */
.navbar {
    background-color: #fffd;
    color: #333;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

.logo:visited {
    color: inherit;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #0077cc;
}

/* Carousel */
.carousel-section {

    width: 100%;
    height: 100dvh;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.carousel-item {
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.carousel-item img {
    width: 100%;
    height: 100%;
}

/* Card Styles */

.card-section {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-content {
    padding: 1rem;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-description {
    font-size: 0.9rem;
}

.price {
    font-weight: bold;
    color: #0077cc;
}
#carousel,
#planes,
#exclusivos,
#servicios {
    scroll-margin-top: 70px;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    margin-bottom: 1rem;
}

.contact-info p {
    margin-bottom: 0.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.btn {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
}
.prev-button {
    left: 10px;
}
.next-button {
    right: 10px;
}

.carousel-legend {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 5em 5em #3337;
    color: #fff;
    padding: 10px;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

