@font-face {
    font-family: "Archivo";
    src: url("./woff2/archivo/Archivo-Bold.woff2") format("woff2");
    font-weight: 900;
}
@font-face {
    font-family: "Archivo";
    src: url("./woff2/archivo/Archivo-Bold.woff2") format("woff2");
    font-weight: 800;
}
@font-face {
    font-family: "Archivo";
    src: url("./woff2/archivo/Archivo-SemiBold.woff2") format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: "Archivo";
    src: url("./woff2/archivo/Archivo-Medium.woff2") format("woff2");
    font-weight: 600;
}
@font-face {
    font-family: "Archivo";
    src: url("./woff2/archivo/Archivo-Medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "Archivo";
    src: url("./woff2/archivo/Archivo-Regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Archivo";
    src: url("./woff2/archivo/Archivo-Regular.woff2") format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: "Archivo";
    src: url("./woff2/archivo/Archivo-Regular.woff2") format("woff2");
    font-weight: 200;
}
@font-face {
    font-family: "Archivo";
    src: url("./woff2/archivo/Archivo-Regular.woff2") format("woff2");
    font-weight: 100;
}
